# Discord Bot Settings
DISCORD_TOKEN=your_bot_token_here
DISCORD_CLIENT_ID=your_oauth_client_id_here
DISCORD_CLIENT_SECRET=your_oauth_client_secret_here

# Web App Settings
BASE_URL=http://localhost:5000
REDIRECT_URI=http://localhost:5000/callback
DATABASE_URL=postgresql://user:password@host:port/database
SECRET_KEY=your_flask_secret_key_here
PORT=5000

# Official Website
OFFICIAL_WEBSITE_URL=https://discord-invitation-and-role.kei31.com